include README.md
include requirements.txt
include README.md
include requirements.txt
include LICENSE
recursive-include textgrad *.py
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude * .env


